{%  load staticfiles %}

<!DOCTYPE html>

<script src="{%  static 'assets/admin/js/studentrpt.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{%  static 'assets/admin/css/admin.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<div class="banner">
  <div class="banner-text">
    <h1>Admin Portal</h1>
  </div>
</div>
<body onload= "hideStudent(), hideAlert()">

<div class="topnav">
    <a href = '/studentview/'>To Tutor Report</a>
    <a href = '/'>To Sign in</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search..." name="search">
        <div class = "select-box">
              <select>
                <option value="0">Select car:</option>
                <option value="1">Audi</option>
                <option value="2">BMW</option>
                <option value="3">Citroen</option>
                <option value="4">Ford</option>
                <option value="5">Honda</option>
                <option value="6">Jaguar</option>
                <option value="7">Land Rover</option>
                <option value="8">Mercedes</option>
                <option value="9">Mini</option>
                <option value="10">Nissan</option>
                <option value="11">Toyota</option>
                <option value="12">Volvo</option>
              </select>
        </div>
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

  </div>



    </>
</div>

<div class="tab">
{% for session in sessions %}
  <button class="tablinks"  onclick="openStudent(event, {{ session.date }}{{ session.idpair.idpair }})">{{session.date}}
      Student: {{ session.idpair.idstudent.firstname }} {{ session.idpair.idstudent.lastname }}
      Tutor: {{ session.idpair.idtutor.firstname }} {{ session.idpair.idtutor.lastname }}

  </button>
{% endfor %}

</div>


{% for session in sessions %}
<div id= {{ session.date }}{{ session.idpair.idpair }}  class="tabcontent">
    <h3>Student: {{session.idpair.idstudent.firstname}} {{session.idpair.idstudent.lastname }}</h3>
    <h3>Tutor: {{session.idpair.idtutor.firstname  }} {{ session.idpair.idtutor.lastname }}</h3>
    <h3>Progress Report</h3>
    <p> {{ session.progressreport }}</p>

</div>
{% endfor %}

</body>


