{% load staticfiles %}
<!DOCTYPE html>
<script src="{%  static 'assets/admin/js/welcome.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{%  static 'assets/admin/css/index.css' %}">
<script src="{%  static 'assets/admin/js/jquery.min.js' %}" type="text/javascript"></script>
<div class="login-page">
    <div class="form">

        <head>

            <meta name="google-signin-client_id" content="844447968069-sll1lj94217jbntgvtqcm3s2fnan4prt.apps.googleusercontent.com">

        </head>

        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <button id="Proceed" type="submit">Proceed to Report</button>

        <script>


            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                var token = '{{ csrf_token }}';
                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('email:  ' + profile.getEmail());let data = new FormData();
                data.append('id', profile.getId());
                data.append('email', profile.getEmail());
                $.ajax({
                    headers: {"X-CSRFToken": token},
                    processData: false,
                    contentType: false,
                    url: '/studentview/',
                    data: data,
                    type: 'POST',
                    success: function(response) { // Go through appliction if does ork then prints
                        console.log("it works, God save the Queen!");
                    },
                });
            }

            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function() {
                    console.log('User signed out.');
                });
            }

            function onLoad() {
                gapi.load('auth2', function() {
                    gapi.auth2.init();
                });
            }
        </script>
        <a href="#" onclick="signOut();">Sign out</a>

        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>


    </div>
</div>