{% extends "base.html" %} {% block title %}{{ block.super }} - Login{% endblock %} {% block head_extra %} {% load staticfiles %}
<style>
    .login_div {
        background-image: url("{% static 'img/signin-background.jpg' %}");
    }
</style>
{% endblock %} {% block content %}
<div class="row">

    <div class="login_div">
        <img style="margin: auto;" class="img-responsive" width="250px" height="250px" src="{% static 'img/casSplash_2.png' %}" alt="Login Icon">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username: </label>
                <input autofocus type="type" class="form-control" name="username" id="username" size="25">
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" class="form-control" name="password" id="password" size="25">
            </div>

            {% if form.errors %}
            <div class="log_in_error_message alert alert-warning">
                Your username and password didn't match. Please try again.
            </div>
            {% endif %}
            <input type="submit" value="Login" class="btn btn-default btn-info">
            <input type="hidden" name="next" value="{% if next %}{{ next|escape }}{% else %}/{% endif %}" />
        </form>
    </div>
</div>

{% endblock %}