{% load staticfiles %}

<!DOCTYPE html>

<script src="{%  static 'assets/admin/js/studentrpt.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{%  static 'assets/admin/css/studentrpt.css' %}">


<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<div class="banner">
    <div class="banner-text">
        <h1>Tutoring Dragons Report</h1>
    </div>
</div>

<div class="topnav">
    {% if admin == True %}
    <a href='/adminview/'>To Admin Page</a> {% endif %}
    <a href='/'>To Sign in</a>
</div>

<body onload="hideStudent()">
    <p id="greet">

    </p>

    <div class="tab">
        {% for student in students %}
        <button class="tablinks" onclick="openStudent(event, {{ student.idstudent }})">{{ student.firstname}}</button> {% endfor %}

    </div>


    {% for student in students %}
    <div id='{{student.idstudent }}' class="tabcontent">
        <h3>{{student.firstname}} {{student.lastname }}</h3>
        <form action="" method="POST">{% csrf_token %}
            <select id="idStudent" name='idStudent' class="info_form">
            <option>{{ student.idstudent }}</option>
        </select>
            <textarea rows='8 ' cols='100 ' name="report" id="report"></textarea>
            <div class="box">
                <select id="profScore" name="profScore" class="choice">
                    <option value="" selected disabled hidden>Proficiency</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </div>

            <div class="box">
                <select id="coopScore" name="coopScore" class="choice">
                    <option value="" selected disabled hidden>Cooperation</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
            </div>
            <input type="submit" value="Submit" class="submit-button" />

        </form>
    </div>
    {% endfor %}

</body>